.photo {
  width: 250px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(163, 131, 131);
}

.all {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(230, 230, 225);
  border-radius: 20px;
}

.insidebox {
  grid-column: span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start; /* Align items to the top */
}

.info {
  margin-top: 50px;
}

#pi {
  display: inline;
  margin-left: 40px;
}

.remove {
  color: red;
  margin-top: 20%;
}

.right {
  text-align: right;
  margin-right: 30px;
}

.selection {
  margin-top: 50px;
}

hr {
  border: none;
  border-top: 1px solid #000;
  grid-column: span 2; 
}
.rightside{
  text-align: right;
  margin-right: 30px;
}

@media screen and (max-width: 500px) {
  .all {
    grid-template-columns: 1fr; 
  }
  .insidebox {
    grid-template-columns: 1fr;
  }
  .right {
    text-align: left; 
    margin-right: 0;
  }
  .rightside{

    text-align: justify;
  }
  .left{

   text-align:justify;
  }
  hr {
    grid-column: span 1; 
  }
}